<!DOCTYPE html>
<html>
    <head>
        <title>Bhalisa</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-invers">
                <a href="/" class="navbar-brand">My Site</a>
                <ul class="nav navbar-nav">
                    <li><a href="/">home</a></li>
                    <li><a href="/about">about</a></li>
                    <li><a href="/contact">contact</a></li>
                    <li><a href="/events">events</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <div class="main">
                <!-- Main content goes here -->
                <%- defineContent('main') %>

            <%- body %>
            </div>
        </section>

        <footer>
            Mags Industries &copy; 2017
        </footer>
    </body>
</html>
